# Xcode
##
## gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
##

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

### Xcode Patch ###
/.xcodeproj/
!/*.xcodeproj/project.pbxproj
!/*.xcodeproj/xcshareddata/
!/*.xcodeproj/xcuserdata/

/.xcworkspace/
!/*.xcworkspace/contents.xcworkspacedata
!/*.xcworkspace/xcshareddata/
!/*.xcworkspace/xcuserdata/

### Xcode Patch End ###

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline
playground.xcworkspace

# Swift Package Manager
.build/

# Package.resolved file is a file that should be checked into source control
!/Package.resolved

# CocoaPods
## For CocoaPods users
# Pods/
# Uncomment the next line to ignore the Pods directory if you're using CocoaPods.
#/Pods/

Podfile.lock
Pods-Manifest.lock

# Carthage
Carthage/Build

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/.env

# Code Injection
injectionforxcode/

# SwiftLint
.swiftlint-report.json

# SwiftUI Preview
*.swiftpm/xcode/package.xcworkspace

# Environment variables
.env*
!.env.sample

# macOS Finder
.DS_Store

# Thumbnails
._*

# Files that might appear on disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.DS_Store
